:root {
  --main-bg-color: #2a313a;
}

@font-face {
  font-family: "ivar";
  src: url(./IvarDisplayCondensed-Light.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ivar", serif;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #191919;
}

html,
body {
  width: 100%;
  background-color: var(--main-bg-color);
  overscroll-behavior: none;
}

.menu-tog {
  position: fixed;
  top: 3%;
  right: 2%;
  width: 25px;
  height: 6px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  z-index: 3;
  mix-blend-mode: difference;
}

.menu-tog span {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.5s;
  transform-origin: center;
}

.menu-tog.active span:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

.menu-tog.active span:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
}

.header {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 96%;
  z-index: 2;
  mix-blend-mode: difference;
  color: #ffffff;
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0px;
}

.info-text {
  font-size: 15px;
  line-height: 20px;
}

.wrap {
  position: relative;
  display: block;
  line-height: auto;
  overflow: hidden;
  transition: 0.5s;
  will-change: transform;
}

.wrap h1,
.wrap .img {
  transform: translateY(100%);
  transition: 0.5s;
  will-change: transform;
}

.wrap.active h1,
.wrap.active .img {
  transform: translateY(0);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.menu.active {
  pointer-events: all;
  opacity: 1;
}

.links {
  position: absolute;
  bottom: 20%;
  left: 2%;
  height: 600px;
  color: #ffffff;
}

.links ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
}

.links a {
  color: #ffffff;
}

.menu-wrap {
  position: relative;
  overflow: hidden;
}

.menu-wrap a {
  display: block;
  font-size: 40px;
  transform: translateY(100%);
  transition: 0.5s;
}

.menu-wrap.active a {
  transform: translateY(0);
}

.menu-wrap span {
  font-size: 12px;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}


#map {
  width: 80%;
  height: 80%;
  border: 1px solid black;
    background-color: #ccc;
    margin: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px #888;
}

@media (max-width: 800px) {
  #map {
    width: 100%;
    height: 70%;
    border: 1px solid black;
    background-color: #ccc;
    margin: 20px;
    padding: 5px;
    box-shadow: 5px 5px 5px #888;
  }
  body {
    width: 100%;
    background-color: var(--main-bg-color);
  }
}

.map-legend {
  display: flex;
  width: 100%;
  max-width: 60%;
  max-height: 80px;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.map-legend span {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 2px;
  /* font-size: 14px; */
  text-align: center;
  display:inline-block;
  font-family: 'Montserrat';font-size: 10px;
}

.map-legend span:hover {
  background-color: #ccc;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .map-legend {
    display: flex;
    max-width: 100%;
    max-height: 80px;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
  .map-legend span {
    height: 20px;
    font-size: 10px;
    padding: 3px 6px;
    text-align: center;
    display:inline-block;
    overflow-wrap: break-word;
    
  }
}

p {
  font-family: 'Montserrat';font-size: 13px;
}